version: "3.9"

services:
  backend:
    build:
      context: ./service
    env_file:
      - ./service/.env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
    ports:
      - "5173:5173"
    depends_on:
      - backend
